@using RealEstateWebsite.Models
@model RealEstateWebsite.Areas.Censor.Models.DashboardData

@{
    ViewBag.Title = "Censor | Real Estate System";
    Layout = "~/Areas/Censor/Views/Shared/_Layout.cshtml";
}

<div class="analytics-sparkle-area breadcome-list">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="white-box analytics-info-cs mg-b-10 res-mg-b-30 res-mg-t-30 table-mg-t-pro-n dk-res-t-d-n">
                    <h3 class="box-title">Total Posts Today</h3>
                    <ul class="list-inline two-part-sp">
                        <li>
                            <div id="sparklinedash"></div>
                        </li>
                        <li class="text-right sp-cn-r"> <span class="counter text-success">@Model.totalPostsToday</span></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="white-box analytics-info-cs mg-b-10 res-mg-b-30 dk-res-t-d-n">
                    <h3 class="box-title">Total Pending Posts</h3>
                    <ul class="list-inline two-part-sp">
                        <li>
                            <div id="sparklinedash2"></div>
                        </li>
                        <li class="text-right graph-two-ctn"> <span class="counter text-purple">@Model.totalPendingPosts</span></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="white-box analytics-info-cs mg-b-10 res-mg-b-30 dk-res-t-d-n">
                    <h3 class="box-title">Total Reported Posts</h3>
                    <ul class="list-inline two-part-sp">
                        <li>
                            <div id="sparklinedash3"></div>
                        </li>
                        <li class="text-right graph-three-ctn"> <span class="counter text-info">@Model.totalReportedPosts</span></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="white-box analytics-info-cs dk-res-t-d-n">
                    <h3 class="box-title">Total Reported Customers</h3>
                    <ul class="list-inline two-part-sp">
                        <li>
                            <div id="sparklinedash4"></div>
                        </li>
                        <li class="text-right graph-four-ctn">
                            <span class="text-danger"><span class="counter">@Model.totalReportedCustomers</span></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="product-sales-area mg-tb-30">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="product-sales-chart">
                    <div class="portlet-title">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="caption pro-sl-hd">
                                    <span class="caption-subject"><b>University Earnings</b></span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="actions graph-rp graph-rp-dl">
                                    <p>All Earnings are in million $</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul class="list-inline cus-product-sl-rp">
                        <li>
                            <h5><i class="fa fa-circle" style="color: #006DF0;"></i>New Posts</h5>
                        </li>
                        <li>
                            <h5><i class="fa fa-circle" style="color: #933EC5;"></i>New Users</h5>
                        </li>
                    </ul>
                    <div id="extra-area-chart" style="height: 356px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
 <script>
     Morris.Area({
         element: 'extra-area-chart',
         data: [{
             period: '@Model.chart[0].period',
             newPosts: @Model.chart[0].posts,
             newUsers: @Model.chart[0].usersOnline
         }, {
             period: '@Model.chart[1].period',
                 newPosts: @Model.chart[1].posts,
             newUsers: @Model.chart[1].usersOnline
         }, {
             period: '@Model.chart[2].period',
                 newPosts: @Model.chart[2].posts,
             newUsers: @Model.chart[2].usersOnline
         }, {
             period: '@Model.chart[3].period',
                 newPosts: @Model.chart[3].posts,
             newUsers: @Model.chart[3].usersOnline
         }, {
             period: '@Model.chart[4].period',
                 newPosts: @Model.chart[4].posts,
             newUsers: @Model.chart[4].usersOnline
         }, {
             period: '@Model.chart[5].period',
                 newPosts: @Model.chart[5].posts,
             newUsers: @Model.chart[5].usersOnline
         },
         {
             period: '@Model.chart[6].period',
             newPosts: @Model.chart[6].posts,
             newUsers: @Model.chart[6].usersOnline
         }],
         xkey: 'period',
         ykeys: ['newPosts', 'newUsers'],
         labels: ['New Posts', 'New Users'],
         pointSize: 3,
         fillOpacity: 0,
         pointStrokeColors: ['#006DF0', '#933EC5'],
         behaveLikeLine: true,
         gridLineColor: '#e0e0e0',
         lineWidth: 1,
         hideHover: 'auto',
         lineColors: ['#006DF0', '#933EC5'],
         resize: true

     });
 </script>