@model IEnumerable<RES.Data.DBModels.Customer>
@using RES.Data.DBModels

@{
    ViewData["Title"] = "Quản lý người dùng | Admin BDS Miền Trung";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    RealEstateSystemContext _context = new RealEstateSystemContext();

    var notice = TempData["Notice"];

    if (notice != null)
    {
        ViewData["Notice"] = notice;
    }
}

<div class="animated fadeIn">
    <div class="row">

        <div class="col-md-12">
            <partial name="~/Areas/Identity/Pages/Account/Manage/_StatusMessage.cshtml" model="@(ViewData["Notice"] == null ? null : ViewData["Notice"].ToString())" />
            <div class="card">
                <div class="card-header">
                    <strong class="card-title">Quản lý người dùng</strong>
                </div>
                <div class="card-body">
                    <table id="bootstrap-data-table" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Họ tên</th>
                                <th>Email</th>
                                <th>Địa chỉ</th>
                                <th>Số điện thoại</th>
                                <th>Trạng thái</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var customer in Model)
                            {
                                <tr>

                                    <td>@(customer.LastName + " " + customer.Firstname)</td>
                                    <td>@(customer.Account.Email)</td>
                                    <td>@customer.Address</td>
                                    <td>@customer.PhoneNumber</td>
                                    @{
                                        if (customer.Block.Count != 0 && (customer.Block.Last().UnBlockDate == null || customer.Block.Last().UnBlockDate > DateTime.Now))
                                        {
                                            <td class="text-red  text-center">Bị khóa</td>
                                        }
                                        else
                                        {
                                            <td class="text-green text-center">Đang hoạt động</td>
                                        }
                                    }
                                    <td style="display: inline-flex">
                                        <form asp-action="Details" asp-controller="Customer" asp-area="Admin" asp-route-id="@customer.CustomerId" method="get" style="margin-right: 3px">
                                            <input type="submit" class="btn-info" value="Xem" />
                                        </form>
                                        <form asp-action="Edit" asp-controller="Customer" asp-area="Admin" asp-route-id="@customer.CustomerId" method="get" style="margin-right: 3px">
                                            <input type="submit" class="btn-primary" value="Sửa" />
                                        </form>
                                        @if (customer.Block.Count != 0 && (customer.Block.Last().UnBlockDate == null || customer.Block.Last().UnBlockDate > DateTime.Now))
                                        {
                                            <form asp-action="UnBlock" asp-controller="Customer" asp-area="Admin" asp-route-id="@customer.CustomerId"
                                                  method="post" onsubmit="return confirm('Bạn có chắc chắn muốn mở khóa tài khoản này?');" style="margin-right: 3px">
                                                <input type="submit" class="btn-dark" value="Mở Khóa" />
                                            </form>
                                        }
                                        else
                                        {
                                            <form asp-action="Block" asp-controller="Customer" asp-area="Admin" asp-route-id="@customer.CustomerId"
                                                  method="post" onsubmit="return confirm('Bạn có chắc chắn muốn khóa tài khoản này?');" style="margin-right: 3px">
                                                <input type="submit" class="btn-danger" value="Khóa TK" />
                                            </form>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>